//
   Created by WYX on 2016/12/17.

extends layout
block head
    link(rel='stylesheet', href='/stylesheets/content.css')
block content
    div.container
        div.content
            div.content-item
                img.item-img.full(src='/images/auto-3.jpg')
                div.item-link
                    a.btn(href='javascript:;') ClickMe
            div.content-item(style='background-image:url("/images/content-item-bg.jpg");background-size: 100%;')
                img.item-img(src='/images/1200-3.png')
                div.item-link
                    a.btn.dark(href='javascript:;') ClickMe
            div.content-item(style='background-image:url("/images/content-item-bg.jpg");background-size: 100%;')
                img.item-img(src='/images/1200-4.png')
                div.item-link
                    a.btn(href='javascript:;') ClickMe
            div.content-item
                img.item-img.full(src='/images/auto-5.png')