doctype html
html
    head
        title= 'XIEDM'
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/artist.css')
        link(rel='stylesheet', href='/jplayer/jplayer.blue.monday.css')
    body
        a.logo(href='/')
            img(src='/images/local/logo.png', alt='domain')
        div.container(style='background-image:url("' + bkurl + '")')
            div.content
                div.info
                    div.head
                        h1 王菀之
                        a.share(href='javascript:;')
                    ul
                        li 国籍：加拿大
                        li 生日：1980年6月18日
                        li 经纪公司：红馆经理人公司
                        li 代表作品：《我真的受伤了》《水百合》《留白》《末日》《皇后的餐厅》
                div.media-player
                    div#jp_jplayer.jp-jplayer
                    div#jp_container_1.jp-audio(role='application', aria-label='media player')
                        div.jp-type-single
                            div.jp-gui.jp-interface
                                div.jp-controls
                                    button.jp-play play
                                    button.jp-stop stop
                                div.jp-progress
                                    div.jp-seek-bar
                                        div.jp-play-bar
                                div.jp-volume-controls
                                    button.jp-mute mute
                                    button.jp-volume-max max volume
                                    div.jp-volume-bar
                                        div.jp-volume-bar-value
                                div.jp-time-holder
                                    div.jp-current-time(aria-label='time')
                                    div.jp-duration(aria-label='duration')
                div.media-list
                    h1 AUDIO音乐
                    div.table-wrapper
                        table
                            thead
                                tr
                                    th.play
                                    th.title 歌曲
                                    th.time 时长
                                    th.share 分享
                            tbody
                                tr
                                    td 1 p
                                    td 气球
                                    td 04:13
                                    td share
                                tr
                                    td 1 p
                                    td 气球
                                    td 04:13
                                    td share
                div.video-list
                    h1 VIDEO视频
                    ul
                        li
                            a(href='javascript:;')
                                img(src='http://i0.hdslb.com/bfs/archive/194ad261abb19abc1ed76239e44ef97d92e08971.jpg_320x200.jpg')
                        li
                            a(href='javascript:;')
                                img(src='http://i0.hdslb.com/bfs/archive/ce9ca7699ebf5f865fef299115002dab9c9a3106.jpg_320x200.jpg')
                        li
                            a(href='javascript:;')
                                img(src='http://i2.hdslb.com/320_200/video/c0/c00d0817fbb8ce0afac6cd62f98f201d.jpg')
                        li
                            a(href='javascript:;')
                                img(src='http://i0.hdslb.com/bfs/archive/5ea6b0d4d36ca2d435aad66c908864bbdc47c0df.jpg_320x200.jpg')
                div.activity-list
                    h1 ACTIVITY活动
                    div.table-wrapper
                        table
                            thead
                                tr
                                    th 时间
                                    th 名称
                                    th 总场次
                            tbody
                                tr
                                    td 2006年7月18日
                                    td 王菀之 X 张敬轩 903 拉阔音乐会
                                    td 1
                                tr
                                    td(colspan="3")
                                        ul
                                            li 2006年7月18日    香港    拉阔演奏厅
                div.reservation-list
                    h1 RESERVE预订

        script(src='/javascripts/jquery-3.1.1.min.js')
        script(src='/jplayer/jquery.jplayer.min.js')
        script.
            (function () {
                $('#jp_jplayer').jPlayer({
                    ready: function(event) {
                        $(this).jPlayer('setMedia', {
                            title: '气球',
                            mp3: '/medias/王菀之,张敬轩,冯翰铭 - 气球 - Live.mp3'
                        })
                    },
                    swfPath: "/jplayer",
                    supplied: "mp3",
                    wmode: "window",
                    useStateClassSkin: true,
                    autoBlur: false,
                    smoothPlayBar: true,
                    keyEnabled: true,
                    remainingDuration: true,
                    toggleDuration: true
                });
            })();
