extends layout
block head
    link(rel='stylesheet', href='/stylesheets/al-style.css')
block content
    div.container(style='background-image:url("/images/upload/artist.jpg")')
        div.content
            div.info
                h1 全境封锁
