extends layout

block head
    meta(name='keywords', lang='en', content='BOOKING,copyright,release')
    meta(name='keywords', lang='zh', content='版权,发行')
    link(rel='stylesheet', href='/stylesheets/content.css')
block content
    div.container
        div.content
            each item in generic.banners
                div.content-item
                    a(href= item.href)
                        img.item-img.full(src= item.src)
