extends layout
block head
    link(rel='stylesheet', href='/unslider/css/unslider.css')
    link(rel='stylesheet', href='/unslider/css/unslider-dots.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/content.css')
block content
    div.banner
        ul
            li
                a(href='javascript:;')
                    img(src='/images/upload/2.jpg')
            li
                a(href='javascript:;')
                    img(src='/images/upload/4.jpg')
            li
                a(href='javascript:;')
                    img(src='/images/upload/5.jpg')
            li
                a(href='javascript:;')
                    img(src='/images/upload/1.jpg')
            li
                a(href='javascript:;')
                    img(src='/images/upload/0.jpg')

    div.container
        div.content
            div.content-item(style='background-image:url("/images/upload/content-item-bg.jpg");background-size: 100%;')
                img.item-img(src='/images/upload/1200-1.png')
                div.item-link
                    a.btn(href='javascript:;') ClickMe
            div.content-item(style='background-image:url("/images/upload/content-item-bg.jpg");background-size: 100%;')
                img.item-img(src='/images/upload/auto-2.png')
                div.item-link
                    a.btn.dark(href='javascript:;') ClickMe
            div.content-item
                img.item-img.full(src='/images/upload/auto-1.jpg')
    <!--[if lt IE 9]>
    script(src="/javascripts/css3-mediaqueries.js")
    <![endif]-->
    script(src='/javascripts/jquery-3.1.1.min.js')
    script(src='/unslider/js/unslider-min.js')
    script.
        $(function () {
            $('.banner').unslider({
                autoplay: true,
                speed: 500,
                delay: 4000,
                arrows: {
                    prev: '<div class="unslider-arrow prev"><a></a></div>',
                    next: '<div class="unslider-arrow next"><a></a></div>'
                }
            });
        });
