extends layout
block head
    link(rel='stylesheet', href='/unslider/css/unslider.css')
    link(rel='stylesheet', href='/unslider/css/unslider-dots.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/content.css')
    link(rel='stylesheet', href='/stylesheets/dialog.css')
block content
    include ./dialog.jade
    div.banner
        ul
            each item in home.slider
                li
                    a(href= item.href)
                        img(src= item.src)
    div.container
        div.content
            each item in home.banners
                div.content-item
                    a(href= item.href)
                        img.item-img.full(src= item.src)
    <!--[if lt IE 9]>
    script(src="/javascripts/css3-mediaqueries.js")
    <![endif]-->
    script(src='/javascripts/jquery-3.1.1.min.js')
    script(src='/unslider/js/unslider-min.js')
    script.
        $(function () {
            $('.banner').unslider({
                autoplay: true,
                speed: 500,
                delay: 4000,
                arrows: {
                    prev: '<div class="unslider-arrow prev"><a></a></div>',
                    next: '<div class="unslider-arrow next"><a></a></div>'
                }
            });

            var $mfp = $('#mfp');
            var $mfp_close = $mfp.find('.mfp-close');
            $mfp_close.on('click', function () {
                $mfp.hide();
            });

            var $btn_main = $('#btn_main');
            $btn_main.on('click', function () {
                $mfp.show();
            });
        });