extends layout
block head
    link(rel='stylesheet', href='/stylesheets/list.css')
block content
    div.container
        div.wrapper
            ul
                li
                    a(href='/artists/1')
                        dl
                            dt
                                img(src='/images/upload/f1.webp')
                            dd
                                h2 华纳音乐
                                p 华纳音乐集团是21世纪世界三大唱片公司之一，原隶属于拥有华纳兄弟影片公司、时代杂志、财富杂志、CNN有线电视新闻网等传媒巨子的时代华纳集团，在众多行业有着卓越的成就。
                li
                    dl
                        dt
                            img(src='/images/upload/f2.webp')
                        dd
                            h2 滚石唱片
                            p content
                li
                    dl
                        dt
                            img(src='/images/upload/f1.webp')
                        dd
                            h2 索尼音乐
                            p content
                li
                    dl
                        dt
                            img(src='/images/upload/f2.webp')
                        dd
                            h2 光线传媒
                            p content
                li
                    dl
                        dt
                            img(src='/images/upload/f1.webp')
                        dd
                            h2 金牌大风
                            p content
                li
                    dl
                        dt
                            img(src='/images/upload/f1.webp')
                        dd
                            h2 种子音乐
                            p content
                li
                    dl
                        dt
                            img(src='/images/upload/f1.webp')
                        dd
                            h2 海蝶音乐
                            p content
                li
                    dl
                        dt
                            img(src='/images/upload/f1.webp')
                        dd
                            h2 华谊音乐
                            p content
                li
                    dl
                        dt
                        dd
                            h2 乐华音乐
                            p content
                li
                    dl
                        dt
                        dd
                            h2 伟大文化
                            p content
                li
                    dl
                        dt
                        dd
                            h2 正东唱片
                            p content
                li
                    dl
                        dt
                        dd
                            h2 天中文化
                            p content
                li
                    dl
                        dt
                        dd
                            h2 英皇娱乐
                            p content
                li
                    dl
                        dt
                        dd
                            h2 大国文化
                            p content
                li
                    dl
                        dt
                        dd
                            h2 EMI百代唱片
                            p content
                li
                    dl
                        dt
                        dd
                            h2 环球唱片
                            p content
                li
                    dl
                        dt
                        dd
                            h2 海蝶音乐
                            p content
                li
                    dl
                        dt
                        dd
                            h2 艾回唱片
                            p content