extends layout
block head
    link(rel='stylesheet', href='/stylesheets/list.css')
block content
    div.container
        div.wrapper
            ul
                li
                    dl
                        dt abc
                        dd def
                li
                    dl
                        dt abc
                        dd def
                li
                    dl
                        dt abc
                        dd def
                li
                    dl
                        dt abc
                        dd def