extends layout
block head
    link(rel='stylesheet', href='/stylesheets/list.css')
block content
    div.container
        div.wrapper
            ul
                each item in list
                    li
                        a(href='/artists/' + item._id)
                            dl
                                dt
                                    img(src=item.icon)
                                dd
                                    h2= item.name
                                    p= item.description