extends layout

block head
    link(rel='stylesheet', href='/stylesheets/news.css')
block content
    div.container
        div.wrapper
            h1 XIEDM 今天正式上线
            p.date 2016-12-21
            article
                != article