extends layout
block content
    div(style="width: 1200px; margin: 60px auto;")
        embed(src= src, allowfullscreen='true', quality='high', width='740', height='617', align='middle', allowscriptaccess='always', type='application/x-shockwave-flash')
