extends layout

block head
    link(rel='stylesheet', href='/stylesheets/content.css')
block content
    div.container
        div.content
            div.content-item
                img.item-img.full(src='/images/upload/auto-5.png')
            div.content-item(style='background-image:url("/images/upload/content-item-bg.jpg");background-size: 100%;')
                img.item-img(src='/images/upload/1200-7.png')
                div.item-link
                    a.btn.dark(href='javascript:;') ClickMe
            div.content-item
                img.item-img.full(src='/images/upload/auto-4.png')
            div.content-item(style='background-image:url("/images/upload/content-item-bg.jpg");background-size: 100%;')
                img.item-img(src='/images/upload/1200-6.png')
                div.item-link
                    a.btn(href='javascript:;') ClickMe
