extends layout
block head
block content
    div.container
        ul.nav-tabs
            li#artist.active 艺人/厂牌
            li#music 音乐
        div.tab-content
            div.tab-pane.active#tab1
            div.tab-pane#tab2
