extends layout
block head
    link(rel='stylesheet', href='/bootstrap-fileinput/css/fileinput.min.css')
block content
    .container
        .panel.panel-default
            .panel-heading 编辑艺人/厂牌
            .panel-body
                form.form-horizontal(role='form')
                    .form-group
                        label.col-sm-2.control-label(for='inputName') 名称
                        .col-sm-10
                            input#inputName.form-control(type='text', placeholder='名称', value= artist.name)
                    .form-group
                        label.col-sm-2.control-label(for='inputInfo') 基本信息
                        .col-sm-10
                            textarea#inputInfo.form-control(rows='3')= artist.description
                    .form-group
                        label.col-sm-2.control-label(for='inputDescription') 简介
                        .col-sm-10
                            - artist.infos = artist.infos ? artist.infos.join('\n') : []
                            textarea#inputDescription.form-control(rows='5')= artist.infos
                    .form-group
                        label.col-sm-2.control-label(for='inputIcon') 肖像
                        .col-sm-10
                            img(src= artist.icon)
                            input#inputIcon.file(type='file', data-preview-file-type='text', data-allowed-file-extensions='["jpg", "png"]')
                    .form-group
                        label.col-sm-2.control-label 音乐
                        .col-sm-10
                            .panel.panel-default
                                table.table.table-striped
                                    thead
                                        tr
                                            th #
                                            th A
                                            th B
                                            th C
                                    tbody
                                        tr
                                            td 0
                                            td 1
                                            td 2
                                            td 3
                                        tr
                                            td 0
                                            td 1
                                            td 2
                                            td 3
                                        tr
                                            td 0
                                            td 1
                                            td 2
                                            td 3
                    .form-group
                        label.col-sm-2.control-label 视频
                        .col-sm-10
                            .panel.panel-default
                                table.table.table-striped
                                    thead
                                        tr
                                            th #
                                            th A
                                            th B
                                            th C
                                    tbody
                                        tr
                                            td 0
                                            td 1
                                            td 2
                                            td 3
                                        tr
                                            td 0
                                            td 1
                                            td 2
                                            td 3
                                        tr
                                            td 0
                                            td 1
                                            td 2
                                            td 3
                    .form-group
                        .col-sm-offset-10.col-sm-2
                            button#btn_submit.btn.btn-default(type='button').btn-block 提交
block footer
    script(src='/bootstrap-fileinput/js/plugins/canvas-to-blob.js')
    script(src='/bootstrap-fileinput/js/plugins/sortable.js')
    script(src='/bootstrap-fileinput/js/plugins/purify.js')
    script(src='/bootstrap-fileinput/js/fileinput.js')
    script(src='/bootstrap-fileinput/js/locales/zh.js')
    script.
        (function () {
            $('#inputIcon').fileinput({language: 'zh'});
        })();