div#mfp(style='display:none;')
    div.mfp-bg
    div.mfp-wrap
        div.mfp-container
            div.mfp-content
                div.dialog-window
                    h1 联系方式
                    form
                        input(type='text', placeholder='姓名')
                        input(type='text', placeholder='电话')
                        input(type='text', placeholder='邮箱')
                        button 提交
                    button.mfp-close(type='button') ×