extends layout
block head
block content
    div.container
        table.table.table-striped
            thead
                tr
                    th #
                    th 新闻标题
                    th 发布时间
            tbody
                each item in news
                    tr
                        td= item._id
                        td
                            a(href='/management/news/' + item._id)= item.title
                        td= item.date
        nav
            ul.pagination
                li
                    a(href='#') «
                li.active
                    a(href='#') 1
                li
                    a(href='#') 2
                li
                    a(href='#') 3
                li
                    a(href='#') 4
                li
                    a(href='#') 5
                li
                    a(href='#') »
block footer
    script.
        $(function () {
            if (location.hash) {
                var index = location.hash.substr(1);
                loadNews(index);
            }
            window.addEventListener('hashchange', function(e) {
                var index = location.hash.substr(1);
                loadNews(index);
            });
            function loadNews(index) {
                $.ajax({
                    url: '/api/management/news',
                    data: {index: index, pagesize: 10},
                    success: function (res) {
                        console.log(res);
                    }
                })
            }
        })