.top-bar nav a {
    color: #333;
    font-size: 14px;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}

.top-bar {
    background: url("/images/upload/artist.jpg") no-repeat;
    background-size: 150%;
    background-position-x: center;
    background-position-y: -15px;
}

.container {
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    z-index: -1;
}

.container .content {
    position: relative;
    top: 84px;
}

.container .content .info {
    width: 380px;
    height: 500px;
    color: #efefef;
    /*background-color: rgba(0, 0, 0, .4);*/
    position: fixed;
    top: 188px;
    left: 80px;
    border-radius: 4px;
    box-shadow: 0 0 8px #000;
    opacity: 0.9;
    background: linear-gradient(-45deg, #333 40%, #666 100%);
    /*transition: opacity 300ms 250ms ease;*/
}

.content .info h1 {
    text-align: center;
    margin: 8px 0;
    font-weight: normal;
    letter-spacing: 2px;
}
