a.logo {
    position: absolute;
    left: 20px;
    top: 30px;
}

body {
    background-color: #333;
}

.container {
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.container .content {
    position: relative;
    top: 188px;
    width: 960px;
    left: 550px;
}

.container .content .info {
    width: 344px;
    min-height: 200px;
    color: #efefef;
    /*background-color: rgba(0, 0, 0, .4);*/
    position: fixed;
    top: 188px;
    left: 80px;
    border-radius: 4px;
    box-shadow: 0 0 8px #000;
    opacity: 0.9;
    background: linear-gradient(-15deg, #333 50%, #666 100%);
    /*transition: opacity 300ms 250ms ease;*/
    padding: 18px 20px;
}

.info .head {
    height: 48px;
}

.info .head h1 {
    /*text-align: center;*/
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 36px;
    height: 48px;
    float: left;
}

.info .head a.share {
    height: 28px;
    width: 28px;
    float: right;
    margin-right: 10px;
    margin-top: 8px;
    background-image: url('/images/icons/ic_share_white_48px.svg');
    background-size: 100%;
}

.content .info ul {
    padding: 15px 0;
}

.content .info ul li {
    padding: 3px 0;
    line-height: 28px;
}

.container .content .media-player {
    position: fixed;
    bottom: 8px;
    left: 8px;
}

.container .content .media-list {
    background: rgba(255,255,255,0.6);
    color: #232323;
    border-radius: 3px;

}

.media-list table {
    border-collapse: collapse;
    width: 100%;
    text-shadow: 0 0 3px #666;
}

.media-list table tr {
    line-height: 38px;
}

.media-list table tbody tr:nth-child(odd){
    background: rgba(0,0,0,0.2);
}

.media-list table tr th, .media-list table tr td {
    padding: 0 8px;
}
.media-list table thead tr th {
    text-align: left;

}

.media-list table th.play {
    width: 10%;
}

.media-list table th.title {
    width: 60%;
}

.container .content .video-list {
    width: 100%;
    overflow-x: hidden;
}

.video-list ul {
    margin-left: -27px;
}

.video-list ul::after {
    content: "";
    display: block;
    clear: both;
    float: none;
}


.video-list ul li {
    width: 218px;
    height: 130px;
    background-color: #efefef;
    float: left;
    border-radius: 4px;
    margin-left: 28px;
    margin-top: 22px;
    overflow: hidden;
    opacity: .6;
    transition: all 400ms 100ms ease;
}

.video-list ul li:hover {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.4);
    opacity: .9;
    transition: all 100ms 100ms ease;
}

.video-list ul li a img {
    width: 100%;
}
