.container {
    padding: 20px 0;
}

.container .wrapper {
    padding: 40px 30px;
    width: 960px;
    margin: 0 auto;
    background: #fff;
}

.container .wrapper .date {
    padding: 5px 0;
}

.date {
    color: #bbb;
}

p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
}