*, :after, :before {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    background-color: #fafafa;
    color: #333;
    font: 14px San Francisco Text, Helvetica Neue, PingFang SC, PingFang TC, Heiti SC, Heiti TC, Arial, Microsoft Yahei;
}

blockquote, body, button, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100%;
    position: relative;
}

a.btn {
    width: 180px;
    height: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 2px;
    font-size: 20px;
    color: #00b9f2;
    padding: 20px;
}

a.btn.dark {
    background-color: #00b9f2;
    color: #fff;
}