div.top-bar
    div.wrapper
        a.logo(href='https://www.baidu.com/')
            img(src="/images/logo.png", alt="domain")
        nav
            ul
                li
                    a(href='javascript:;')
                        span HOME
                        span 首页
                li
                    a(href='javascript:;')
                        span SECOND
                        span 第二页
                li
                    a(href='javascript:;')
                        span THIRD
                        span 第三页
                li
                    a(href='javascript:;')
                        span FORTH
                        span 第四页
                li
                    a(href='javascript:;')
                        span FIFTH
                        span 第五页
        div.search-input-wrapper
